<header>
    <h1>Dev Skills</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/skills">Dev Skills List</a>
            </li>
        </ul>
    </nav>
</header>