<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h3><%= foundSkill.name %></h3>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>